# ignorar el directorio node_modules
node_modules/

postcss.config.js
tailwind.config.js
 
package-lock.json
packege.json

css/

# Comprobamos con git remote -v que tenemos esto: 
# TuniverS-O      https://github.com/2DAW-TuniverS-DiegoAlonso/TuniverS-git.git (fetch)
# TuniverS-O      https://github.com/2DAW-TuniverS-DiegoAlonso/TuniverS-git.git (push)
# origin  https://github.com/Daniel-Carril-Miranda/TuniverS-git.git (fetch)
# origin  https://github.com/Daniel-Carril-Miranda/TuniverS-git.git (push)

# Después hacemos git add -A , luego gir commit -m "" y por último git remote y git pull (nombre de la carpeta) dev
